An Article:
- It must belong to a user.
- It has title, text description.
- It must be likeable.
- It must be commentable.
- It's comments must be likeable.
- It's comments must have replies.
- The replies on comments must be likeable.

Start thinking about the Models and the Database Schema to achieve it.

Add a Route and a controller for listig all the articles of a user.
CRUD for an article.
